<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supbio.peento.mapper.ArticleMapper">

    <insert id="addArticleSort">

        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select REPLACE(UUID(),"-","")
        </selectKey>
          INSERT INTO
            t_article_sort (
                id,
                sort_name,
                show_platform,
                sort,
                create_time,
                update_time
            )
            VALUES
                (
                  #{id},#{sortName},#{showPlatform},#{sort},NOW(),NOW())

    </insert>

    <select id="findArticleSort" resultType="com.supbio.peento.models.result.manage.ArticleSortJson">

        SELECT
            id sortId,
            sort_name sortName,
            show_platform showPlatform,
            sort
        FROM
            t_article_sort
        WHERE
            id = #{id}

    </select>

    <update id="updateArticleSort">

        UPDATE t_article_sort
        SET
        sort_name = #{sortName},
        sort = #{sort},
        show_platform = #{showPlatform},
        update_time = NOW()
        WHERE
        id = #{id}

    </update>

    <select id="findAllArticleSort" resultType="com.supbio.peento.models.result.manage.ArticleSortJson">

        SELECT
            id sortId,
            sort_name sortName,
            show_platform showPlatform,
            sort
        FROM
            t_article_sort
        ORDER BY
            sort_name DESC,
            sort DESC

    </select>

    <delete id="deleteArticleSort">

        DELETE
        FROM
        t_article_sort
        WHERE
        id = #{id}

    </delete>

    <insert id="addArticle">

        <selectKey keyProperty="id" resultType="String" order="BEFORE">
            select REPLACE(UUID(),"-","")
        </selectKey>
        INSERT INTO t_article (
            id,
            article_title,
            article_sort_id,
            sort_name,
            show_platform,
            sort,
            cover_url,
            create_time,
            update_time
            )
        VALUES
            (
            #{id},#{articleTitle},#{articleSortId},#{sortName},#{showPlatform},#{sort},#{coverUrl},NOW(),NOW())

    </insert>

    <select id="findArticle" resultType="com.supbio.peento.models.result.manage.ArticleJson">

        SELECT
            id articleId,
            article_title articleTitle,
            article_sort_id articleSortId,
            sort_name sortName,
            show_platform showPlatform,
            collect,
            `like`,
            sort,
            cover_url coverUrl,
            create_time createTime,
            update_time updateTime
        FROM
            t_article
        WHERE
            id = #{id}

    </select>

    <update id="updateArticle">

        UPDATE t_article
        SET
            article_title = #{articleTitle},
            article_sort_id = #{articleSortId},
            sort_name = #{sortName},
            show_platform = #{showPlatform},
            sort = #{sort},
            cover_url = #{coverUrl},
            update_time = NOW()
        WHERE
            id = #{id}

    </update>

    <select id="findAllArticle" resultType="com.supbio.peento.models.result.manage.ArticleJson">

        SELECT
            id articleId,
            article_title articleTitle,
            article_sort_id articleSortId,
            sort_name sortName,
            show_platform showPlatform,
            collect,
            `like`,
            sort,
            cover_url coverUrl,
            create_time createTime,
            update_time updateTime
        FROM
            t_article
        <where>
            1=1
            <if test="articleTitle != null and articleTitle != ''">
                AND article_title LIKE concat('%', #{articleTitle}, '%')
            </if>
            <if test="sortName != null and sortName != ''">
                AND sort_name = #{sortName}
            </if>
        </where>
        ORDER BY
            update_time DESC

    </select>

    <delete id="deleteArticle">

        DELETE
        FROM
            t_article
        WHERE
            id = #{id}

    </delete>

    <select id="findArticleBySortId" resultType="com.supbio.peento.models.result.manage.ArticleJson">

        SELECT
            id articleId,
            article_title articleTitle,
            article_sort_id articleSortId,
            sort_name sortName,
            show_platform showPlatform,
            collect,
            `like`,
            sort,
            cover_url coverUrl,
            create_time createTime,
            update_time updateTime
        FROM
            t_article
        WHERE
            article_sort_id = #{articleSortId}

    </select>

</mapper>
