<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.supbio.peento.mapper.LoginMapper">

    <select id="findLoginByPhone" resultType="com.supbio.peento.models.model.LoginDTO">

        SELECT
            user_name userName,
            sex,
            age,
            phone,
            password
        FROM
            t_login
        WHERE
            phone = #{phone}

    </select>
    
    <update id="updateLoginByPhone">

        UPDATE t_login
        SET password = #{password}
        WHERE
            phone = #{phone}

    </update>


</mapper>
